* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

input,
select {
  outline: none;
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #f7f4ed;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #e6e3d4;
    border-radius: 100vh;
    border: 3px solid #f6f7ed;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #ded8c4;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 1.5s linear infinite;
}

@keyframes popIn {
  0% {
    opacity: 0;
    transform: translateY(10px) scale(0.8);
  }
  70% {
    opacity: 1;
    transform: translateY(-3px) scale(1.1);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.skyblue2pinkpurple {
  background: radial-gradient(
      at 96.49283077073736% 42.87202481763821%,
      hsla(211.03448275862067, 56.862745098039284%, 90%, 1) 0%,
      hsla(211.03448275862067, 56.862745098039284%, 90%, 0) 100%
    ),
    radial-gradient(
      at 21.072147853117418% 8.332825325753301%,
      hsla(251.99999999999994, 38.46153846153849%, 94.90196078431372%, 1) 0%,
      hsla(251.99999999999994, 38.46153846153849%, 94.90196078431372%, 0) 100%
    ),
    radial-gradient(
      at 78.47940016751653% 87.55551599150111%,
      hsla(211.03448275862067, 56.862745098039284%, 90%, 1) 0%,
      hsla(211.03448275862067, 56.862745098039284%, 90%, 0) 100%
    ),
    radial-gradient(
      at 66.39976667942473% 94.72660681024504%,
      hsla(251.99999999999994, 38.46153846153849%, 94.90196078431372%, 1) 0%,
      hsla(251.99999999999994, 38.46153846153849%, 94.90196078431372%, 0) 100%
    );
}

.globle-bg {
  background-image: radial-gradient(
      at 33.35236292128159% 69.6878549931286%,
      hsla(48.00000000000004, 26.315789473684188%, 85.09803921568627%, 1) 0%,
      hsla(48.00000000000004, 26.315789473684188%, 85.09803921568627%, 0) 100%
    ),
    radial-gradient(
      at 27.18308177420703% 67.6471768765975%,
      hsla(38.181818181818166, 28.205128205128176%, 84.70588235294117%, 1) 0%,
      hsla(38.181818181818166, 28.205128205128176%, 84.70588235294117%, 0) 100%
    ),
    radial-gradient(
      at 56.47239346048756% 44.81016396426312%,
      hsla(38.918918918918905, 37.37373737373738%, 80.58823529411765%, 1) 0%,
      hsla(38.918918918918905, 37.37373737373738%, 80.58823529411765%, 0) 100%
    ),
    radial-gradient(
      at 23.36338188601239% 31.173653253681%,
      hsla(40.8, 32.46753246753246%, 84.90196078431373%, 1) 0%,
      hsla(40.8, 32.46753246753246%, 84.90196078431373%, 0) 100%
    ),
    radial-gradient(
      at 93.37805780319263% 16.173467890182348%,
      hsla(35.55555555555557, 36.986301369862986%, 85.68627450980392%, 1) 0%,
      hsla(35.55555555555557, 36.986301369862986%, 85.68627450980392%, 0) 100%
    ),
    radial-gradient(
      at 75.42412893762256% 69.98716348271986%,
      hsla(48.00000000000004, 26.315789473684188%, 85.09803921568627%, 1) 0%,
      hsla(48.00000000000004, 26.315789473684188%, 85.09803921568627%, 0) 100%
    ),
    radial-gradient(
      at 19.448619864714335% 86.32576183891005%,
      hsla(38.181818181818166, 28.205128205128176%, 84.70588235294117%, 1) 0%,
      hsla(38.181818181818166, 28.205128205128176%, 84.70588235294117%, 0) 100%
    ),
    radial-gradient(
      at 49.376434360990174% 15.897897679629436%,
      hsla(38.918918918918905, 37.37373737373738%, 80.58823529411765%, 1) 0%,
      hsla(38.918918918918905, 37.37373737373738%, 80.58823529411765%, 0) 100%
    ),
    radial-gradient(
      at 78.37473990165971% 37.86982613718115%,
      hsla(40.8, 32.46753246753246%, 84.90196078431373%, 1) 0%,
      hsla(40.8, 32.46753246753246%, 84.90196078431373%, 0) 100%
    );
}

